{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" ><img src="{% static 'images/logo.jpeg' %}" style="width: 50px;" >Navbar</a>
  </div>
</nav>
  </head>
  <body>

  {% for item in context %}

<ul><strong>Task : {{item.title}}</strong>
    <li><span>description: {{item.description}}</span></li>
    <li><span>time_estimate: {{item.time_estimate}} min</span></li>
    <li><span>completed: {{item.completed}} </span></li>
    <li>pic: <img src=" {{ item.task_logo.url}} "></li>
</ul>

   {% endfor %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
